<form [formGroup]="form">
    <div class="search">
        <div class="container">
            <div class="search__form row">
                <div class="search__form--id col-12 col-md-6">
                    <span class="p-float-label">
                        <input class="w-100" formControlName="id" type="number" pInputText>
                        <label for="id">ID</label>
                    </span>
                </div>
                
                <div class="search__form--description col-12 col-md-6">
                    <span class="p-float-label">
                        <input class="w-100" formControlName="description" type="text" pInputText>
                        <label for="description">Description</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>